<main role="main" class="inner cover">
<p class="lead">番茄工作法（英語：Pomodoro Technique）是一種時間管理法</p>
<p class="lead">
該方法使用一個定時器，來分割出一個一般為25分鐘的工作時間和5分鐘的休息時間，而那些時間段被稱為pomodoros。by </p>
<p class="lead">番茄工作法有五個基本步驟：</p>
<p class="lead">決定待完成的任務</p>
<p class="lead">設定番茄工作法定時器至 n 分鐘（通常為25分鐘）。</p>
<p class="lead"> 持續工作直至定時器提示,記下一個x。 </p>
<p class="lead"> 短暫休息3-5分鐘。 </p>
<p class="lead">每四個x，休息15-30分鐘。</p>
</main>
