<main role="main" class="inner cover p-3">
  <h1 class="cover-heading"></h1>
  <p id="pomo_time">25:00</p>
  <p id="funeng" class="lead">又一天過去了。今天過得怎麼樣，夢想是不是更遠了？</p>
  <button id="btn_start" type="button" class="btn btn-light">開始</button>
  <button id="btn_play" type="button" class="btn btn-light">繼續</button>
  <button id="btn_stop" type="button" class="btn btn-light">暫停</button>
  <button id="btn_end" type="button" class="btn btn-light">結束</button>
  <%= hidden_field_tag(:user_id, current_account_id) %>
</main>
