<main role="main" class="inner cover">
  <h1 class="cover-heading"></h1>
  <p id="pomo_time">25:00</p>
  <p class="lead">又一天過去了。今天過得怎麼樣，夢想是不是更遠了？</p>
  <p class="lead">
    <a id= "btn_start" href="#" class="btn btn-lg btn-secondary">開始計時</a>
  </p>
</main>
