<div class="cantainer">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <h1>番茄鐘</h1>

      <p id="pomo_time">25:00</p>

      <div id="btn_start">
        開始計時
      </div>
    </div>
    <div class="col">

    </div>
  </div>
</div>
