<main role="main" class="inner cover">
  <h1 class="cover-heading"></h1>
  <p id="pomo_time">25:00</p>
  <p class="lead">又一天過去了。今天過得怎麼樣，夢想是不是更遠了？</p>
  <button id="btn_start" type="button" class="btn btn-light">開始計時</button>
  <%= hidden_field_tag(:user_id, current_account_id) %>
</main>
