/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

#pomo_time {
  font-size: 120px;
  font-weight: bold;
}

#modal-1, #modal-2 {
  color: #000;
  font-weight: bold;
}

#modal-1 {
  p {
    text-align: left;
  }
}

.pa-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

main {
  background-color: rgba(255, 255, 255, 0.1);
}

.pa-break-color {
  animation: pulse 3s 1;
  animation-fill-mode: forwards;
}

.pa-run-color {
  animation: pulse_2 3s 1;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    background-color: rgb(240, 91, 86);
  }
  100% {
    background-color: rgb(73, 143, 193);
  }
}

@keyframes pulse_2 {
  0% {
    background-color: rgb(73, 143, 193);
  }
  100% {
    background-color: rgb(240, 91, 86);
  }
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(240, 91, 86);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  // text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: white;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
