<div class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3 mb-4 boerder-bottom">
      <div class="float-right">
         <% if account_signed_in?  %>
           <%= link_to "登出", destroy_account_session_path, method: :delete, class: "btn btn-primary" %>
         <% else %>
           <%= link_to "登入", new_account_session_path, class: "btn btn-outline-primary" %>
           <%= link_to "註冊", new_account_registration_path, class: "btn btn-primary" %>
         <% end %>
      </div>
    </div>
  </div>
</div>
