<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Tomate</h3>
    <% if account_signed_in?  %>
      <button type="button" class="btn pa-btn float-right m-1" >登出</button>
    <% else %>
      <button type="button" class="btn pa-btn float-right m-1">登入/註冊</button>
    <% end %>
    <button type="button" class="btn pa-btn float-right m-1" data-toggle="modal" data-target="#modal-2">設定</button>
    <button type="button" class="btn pa-btn float-right m-1" data-toggle="modal" data-target="#modal-1">番茄工作法</button>

    <!-- <nav class="nav nav&#45;masthead justify&#45;content&#45;center"> -->
    <!--   <%= link_to "首頁", root_path, class: current_class?(root_path)  %> -->
    <!--   <%= link_to "番茄工作法", about_tomatoes_path, class: current_class?(about_tomatoes_path) %> -->
    <!--    <% if account_signed_in?  %> -->
    <!--      <%= link_to "登出", destroy_account_session_path, method: :delete, class: current_class?(destroy_account_session_path) %> -->
    <!--    <% else %> -->
    <!--      <%= link_to "登入/註冊", new_account_session_path, class: current_class?(new_account_session_path) %> -->
    <!--    <% end %> -->
    <!-- </nav> -->
  </div>
</header>
